<div class="main-content">

    <div class="table-holder">
        <div class="table-content" *ngIf="!navigate">
            <button class="btn btn-primary" [routerLink]="'/create'" (click)="navigate = !navigate;">Create</button>
            <button class="btn btn-success" [routerLink]="'/retrive'" (click)="navigate = !navigate;">Retrive</button>
            <button class="btn btn-info" [routerLink]="'/update'" (click)="navigate = !navigate;">Update</button>
            <button class="btn btn-danger" [routerLink]="'/delete'" (click)="navigate = !navigate;">Delete</button>

        </div>
        <div class="content" *ngIf="navigate">
            <router-outlet class=""></router-outlet>
            <button class="btn btn-warning" [routerLink]="''" (click)="navigate = !navigate;">Back</button>

        </div>
    </div>

</div>
