<div class="insert-content">



    <div class="form__group">
        <input type="text" id="name" [(ngModel)]="empName" class="form__field" placeholder="Employee Name">
        <label for="name" class="form__label">Employee Name</label>
    </div>
    <div class="form__group">
        <input type="number" id="salary" [(ngModel)]="empSalary" class="form__field" placeholder="Employee Salary">
        <label for="salary" class="form__label">Employee Salary</label>
    </div>
    <div class="form__group">
        <input type="number" id="age" [(ngModel)]="empAge" class="form__field" placeholder="Employee Age">
        <label for="age" class="form__label">Employee Age</label>
    </div>
    <div class="form__group">
        <input type="text" id="role" [(ngModel)]="empRole" class="form__field" placeholder="Employee Role">
        <label for="role" class="form__label">Employee Role</label>
    </div>





</div>
<button class="btn btn-success" (click)="insert()">Insert</button>
