.update-content {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form__group {
    position: relative;
    padding: 8px 1px 0;
}

.form__field {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.129) 3px 3px 3px;
    border: black 0.3px solid;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px;
    background: rgb(255, 255, 255);
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
    margin-left: 10px;
}

.form__field:placeholder-shown~.form__label {
    font-size: 12px;
    cursor: text;
    top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

label,
.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}

.form__field:focus~.form__label {
    color: #009788;
}

.form__field:focus {
    margin-left: 10px;
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}
